body{
	width: 100%;
	background-color: #ffffff;
	margin: 0;
}
.headDiv{
	height: 72px;
	font-size: 20px;
	line-height: 72px;
	border-bottom: 1px solid rgb(238,238,238);
	margin-bottom: 20px;
	/*不加此属性，顶部会有一部分空白*/
	margin-top: -20px;
	position: relative;
}

.headDiv .headContent{
	/*width: 760px;*/
}

.headDiv img{
	width: 50px;
	height: 50px;
	vertical-align: middle;
	/*使方形图片变为圆形*/
	border-radius: 25px;
}

.headDiv .auth{
	font-family: cursive;
}

.headDiv .describe{
	font-size: 12px;
	color: rgb(192,192,192);
}

.slibarIconDiv{
	position: absolute;
	right: 20px;
	top: 0px;

}

.slibarIconDiv span{
	cursor: pointer;
	font-size: 25px;
}

.sidebar{
	width: 280px;
	/*background-color: #F5F5F5;*/
    background-color: #6a9fb5;
	position: fixed;
	top: 0px;
	right: -280px;
	display: none;
	height: 100%;
    overflow-y: auto;
}

.sidebar:focus{
        /*去除获得焦点时蓝色边框*/
        outline:none;
}

.sidebarMoveToLeft{
	animation: sidebarToLeft .5s both;
    -webkit-animation: sidebarToLeft .5s both;
}

@-webkit-keyframes sidebarToLeft {
    to {
        -webkit-transform: translateX(-280px);
    }
}

@-moz-keyframes sidebarToLeft {
    to {
        -webkit-transform: translateX(-280px);
    }
}

@-ms-keyframes sidebarToLeft {
    to {
        -webkit-transform: translateX(-280px);
    }
}

@keyframes sidebarToLeft {
    to {
        transform: translateX(-280px);
    }
}

.contentMoveToLeft{
	animation: contentToLeft .5s both;
    -webkit-animation: contentToLeft .5s both;
}

@-webkit-keyframes contentToLeft {
    to {
        -webkit-transform: translateX(-280px);
    }
}

@-moz-keyframes contentToLeft {
    to {
        -webkit-transform: translateX(-280px);
    }
}

@-ms-keyframes contentToLeft {
    to {
        -webkit-transform: translateX(-280px);
    }
}

@keyframes contentToLeft {
    to {
        transform: translateX(-280px);
    }
}

.sidebarMoveToRight{
	animation: sidebarToRight .5s both;
    -webkit-animation: sidebarToRight .5s both;
}

@-webkit-keyframes sidebarToRight {
    from {
        -webkit-transform: translateX(-280px);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes sidebarToRight {
    from {
        -webkit-transform: translateX(-280px);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@-ms-keyframes sidebarToRight {
    from {
        -webkit-transform: translateX(-280px);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@keyframes sidebarToRight {
    from {
        transform: translateX(-280px);
    }
    to {
        transform: translateX(0);
    }
}

.contentMoveToRight{
	animation: contentToRight .5s both;
    -webkit-animation: contentToRight .5s both;
}

@-webkit-keyframes contentToRight {
    from {
        -webkit-transform: translateX(-280px);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes contentToRight {
    from {
        -webkit-transform: translateX(-280px);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@-ms-keyframes contentToRight {
    from {
        -webkit-transform: translateX(-280px);
    }
    to {
        -webkit-transform: translateX(0);
    }
}

@keyframes contentToRight {
    from {
        transform: translateX(-280px);
    }
    to {
        transform: translateX(0);
    }
}

.sidebar .personalImageDiv{
    width: 100%;
    text-align: center;
    height: 260px;
    line-height: 260px;
}

.sidebar .personalImageDiv img{
    width: 220px;
    height: 220px;
    vertical-align: middle;
}

.sidebar .personalInfoDiv{
    width: 100%;
    color: #c0d7e0;
}

.sidebar .personalInfoDiv div{
    padding-left: 30px;

}
.sidebar .personalInfoDiv div b{
    color: white;
}

.sidebar .personalInfoDiv div .hiddenB{
    display: none;
    animation: slideOutUp 0.6s;
    -webkit-animation: slideOutUp 0.6s;
}

.sidebar .personalInfoDiv div .showB{
    display: inline-block;
    animation: flash 0.6s;
    -webkit-animation: flash 0.6s;
}

.sidebar .personalInfoDiv .followDiv{
    margin-top: 10px;
}

.sidebar .personalInfoDiv .followDiv img{
    width: 14px;
    height: 14px;
}

.sidebar a{
    color: rgba(255, 255, 255, 0.8);
}

.sidebar a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.sidebar .navDiv{
    width: 100%;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.8);
}

.sidebar .navDiv ul{
    text-align: left;
    font-size: 15px;
    border-top: 1px solid rgba(255,255,255,0.1);

}

.sidebar .navDiv ul li{
    line-height: 40px;
    padding-left: 30px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
}

.sidebar .navDiv ul li:hover{
    background-color: rgba(255,255,255,0.1);
}

.sidebar .navDiv .active{
    background-color: rgba(255,255,255,0.1);
}

.sidebar .labelYunDiv{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
}

.sidebar .labelYunDiv .labelYun{
    margin-top: 10px;
    font-size: 12px;
}

.sidebar .labelYunDiv .labelYun span{
    border: 1px solid #cccccc;
    padding: 1px 4px;
    border-radius: 3px;
    display: -webkit-inline-box;
    margin-top: 12px;
    margin-right: 10px;
}

.sidebar .labelYunDiv .labelYun span:hover{
    background-color: rgba(255,255,255,0.1);
}

.sidebar .versionDiv{
    padding-left: 30px;
    color: #c0d7e0;
    margin-top: 30px;
}

.content{
	/*width: 760px !important;*/
}

.indexPageDiv{
    width: 100%;
    margin-bottom: 60px;
}

.indexPageDiv img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.indexPageDiv p{
    color: #515151;
    font-size: 18px;
}

.indexPageDiv p a{
    color: #333;
    text-decoration: underline;
}

.indexPageDiv .classify{
    color: #9a9a9a;
    font-size: 0.8rem;
    padding: 1px 2px;
    border-radius: 3px;
    border:1px solid #e0e0e0;
}

.indexPageDiv .dateStringDiv{
    color: #9a9a9a;
    font-size: 0.8rem;
}

.pagination{
    width: 100%;
    text-align: center;
}

.pagination .pagination-button{
    padding: 15px 45px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    font-size: 16px;
    color: #999;
}

.pagination .pagination-active{
    text-decoration: none;
    color: black;
}

.pagination .pagination-active:hover{
    background-color: #e0e0e0;
}

.classify{
    color: #9a9a9a;
    font-size: 0.8rem;
    padding: 1px 2px;
    border-radius: 3px;
    border:1px solid #e0e0e0;
}

.pageContent{
    margin-top: 10px;
}

.categorieList{
    list-style-type: circle;
}

.categorieList a:hover{
    text-decoration: none;
}

.categorieList li{
    font-size: 18px;
    line-height: 40px;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

.categorieList li:hover{
    font-size: 20px;
    /*line-height: 50px;*/
}

.categorieList li span{
    font-size: 12px;
    color: #9a9a9a;
}

.specificDiv{
    display: none;
}

.allDiv{
    display: none;
}
